<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559685416830-ocpq3q7c8i5bkm9b05a2hu2ku2cf802r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559685416830-ocpq3q7c8i5bkm9b05a2hu2ku2cf802r</string>
	<key>API_KEY</key>
	<string>AIzaSyC_ZeqpKrV5mZbxqAGw5SU01lfmm5BwiUY</string>
	<key>GCM_SENDER_ID</key>
	<string>559685416830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-flutter-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-flutter-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559685416830:ios:2ab4e528019a83de14e52f</string>
</dict>
</plist>